<div class = "content " style="text-align: center;">
  <h1>
    {{ title }}
  </h1>

  <div style="text-align:center ">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
      <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
      <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
    </svg>
    <h2>USUARIOS EN EL SISTEMA</h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-search" viewBox="0 0 19 19">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>
    <app-search (search)="handleSearch($event)"></app-search>
    <hr>
  </div>
</div>

 <div class ="row">
  <div class= "col">
    <table class= "table table-hover table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope ="col">Id </th>
          <th scope="col">Nombre</th>
          <th scope="col">Usuario</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registro of registros | search: filtro_valor ; index as i ">
          <th scope="row">{{i+1}}</th>
          <td >{{registro.name}}</td>
          <td>{{registro.username}}</td>
          <td>{{registro.email}}</td>

        </tr>

      </tbody>
    </table>
  </div>
</div>

<router-outlet></router-outlet>
